<template>
  <div class="hello">
    <h1>{{msg}}</h1>
    <button @click="set('hello')" type="submit">changeMessage</button>
  </div>
</template>

<script>

  export default {
    name: 'HelloWorld',
    data() {
      return {
        msg: 'Hello World',
      };
    },
    methods: {
      set(msg) {
        this.msg = msg;
      },
    },
  };
</script>