<template>
  <v-app>
    <div class="session-wrapper">
      <div class="session-left">
        <div style="padding-left: 500px"></div>
      </div>
      <div class="session-right text-xs-center">
        <div class="session-table-cell">
          <div class="session-content">
            <img src="/static/img/session.png" class="img-responsive mb-3" width="78" height="78"/>
            <h2 class="mb-3">Login To Admin</h2>
            <p class="fs-14">Enter username and password to access control panel of</p>

            <v-form class="mb-4">
              <v-text-field label="User ID" v-model="uid" required></v-text-field>
              <v-text-field label="Password" v-model="password" type="password" required></v-text-field>
              <v-checkbox color="primary" v-model="checkbox" label="Remember me"></v-checkbox>
              <router-link class="mb-1" to="/session/forgot-password">Forgot Password?</router-link>
              <div>
                <v-btn large block color="primary">Login Now</v-btn>
                <v-btn large block color="warning">Create Account</v-btn>
              </div>
            </v-form>
            <div class="session-social-links d-inline-block">
              <ul class="list-inline">
                <li><span class="facebook-bg session-icon"><i class="ti-facebook"></i></span></li>
                <li><span class="google-bg session-icon"><i class="ti-google"></i></span></li>
                <li><span class="twitter-bg session-icon"><i class="ti-twitter-alt"></i></span></li>
                <li><span class="github-bg session-icon"><i class="ti-github"></i></span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </v-app>
</template>
<script>
  import LOGIN from '../service/login';

  export default {
    data: function() {
      return {
        uid: '',
        password: '',
        checkbox: false,
      };
    },
    methods: {
      login: function() {
        let isAuth = LOGIN.login(this.uid, this.password);
        if (isAuth) {
          this.goToPages(); // 페이지 이동!
        } else {
          alert('아이디와 패스워드를 확인해 주십시오');
        }
      },
      goToPages() {
        this.$router.push({
          name: 'HelloWorld',
        });
      },
    },
  };
</script>